@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ffb800;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e6a600;
}

.bg-stripe-pattern {
  background-size: 56.56px 56.56px;
}

@keyframes tape-scroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 56.56px 0;
  }
}

.animate-tape {
  animation: tape-scroll 1.5s linear infinite;
  will-change: background-position;
  backface-visibility: hidden;
  transform: translateZ(0);
}

