@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: #ffffff;
  overflow-x: hidden;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.glitch-text {
  position: relative;
}
.glitch-text::before, .glitch-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.glitch-text::before {
  left: 2px;
  text-shadow: -1px 0 #ff00ff;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch-text::after {
  left: -2px;
  text-shadow: -1px 0 #00ffff;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim2 5s infinite linear alternate-reverse;
}
@keyframes glitch-anim {
  0% { clip: rect(12px, 9999px, 5px, 0); }
  5% { clip: rect(65px, 9999px, 80px, 0); }
  10% { clip: rect(12px, 9999px, 5px, 0); }
  100% { clip: rect(44px, 9999px, 56px, 0); }
}
@keyframes glitch-anim2 {
  0% { clip: rect(65px, 9999px, 80px, 0); }
  5% { clip: rect(12px, 9999px, 5px, 0); }
  10% { clip: rect(65px, 9999px, 80px, 0); }
  100% { clip: rect(12px, 9999px, 5px, 0); }
}
